<div style="margin-bottom: 10px;">
  <!-- Search / Quick Filter -->
  <input type="text" placeholder="Search..." (input)="onQuickFilter($event)" />

  <!-- Export Buttons -->
  <button (click)="exportSelected()">Export Selected</button>
  <button (click)="exportAll()">Export All</button>
</div>

  <div *ngIf="loading">Loading data...</div>

  <ag-grid-angular
  *ngIf="!loading"
  class="ag-theme-alpine"
  style="width: 100%; height: 500px;"
  [rowData]="rowData"
  [columnDefs]="columnDefs"
  rowSelection="multiple"
  [pagination]="true"
  [paginationPageSize]="5"
  (gridReady)="onGridReady($event)">
</ag-grid-angular>
