

<!-- Toolbar -->
<div class="toolbar" role="banner">
 
</div>

    <span>{{ title }} app is running!</span>
<p>Angular 12 app with routing- NgModules</p>
 <p>Feature module break the app into smaller, manageable pieces</p>   
 <nav>
  <a routerLink="/profile-form"  routerLinkActive="active">Profile Form</a> <br/>
  <a routerLink="/editor"  routerLinkActive="active">Editor</a> <br/>
  <a routerLink="/user-details"  routerLinkActive="active">feature module component</a><br/>
  <a routerLink="/microui-one"  routerLinkActive="active">web component 1</a><br/>
  <a routerLink="/microui-two"  routerLinkActive="active">web component 2</a><br/>
</nav>

<router-outlet></router-outlet>

